{% extends '../shared/layout/main.twig' %}
{% set menu = 'index' %}
{% block title %}{{ 'text.accessDenied' | translate }}{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">{{ 'label.flash.danger' | translate }}</h1>
        <hr class="my-4">
        <p class="lead">{{ 'text.accessDenied' | translate }}: <b>[{{ uri }}]</b></p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" onclick="history.back();" role="button">{{ 'label.back' | translate }}</a>
        </p>
    </div>
{% endblock %}