{% extends '../../../shared/layout/main.twig' %}
{% import '../../../shared/macro/fields.twig' as fields %}
{% block title %}{% if empty(user.id) %}Create{% else %}Update {{ role.name }}{% endif %}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{% if empty(role.id) %}{{ 'label.creation' | translate }}{% else %}{{ 'label.updating' | translate }} [{{ role.name }}]{% endif %}</h1>
    </div>
    <form method="post" action="{{ url('/authority/process/role') }}{% if not empty(role.id) %}/{{ role.id }}{% endif %}">
        <div class="row">
            <div class="col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">{{ 'label.mainInformation' | translate }}</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="roleName">{{ 'label.name' | translate }}</label>
                            <input name="name" type="text" class="form-control {{ fields.ifError(result, 'name', 'is-invalid') }}"
                                   id="roleName" placeholder="ROLE_NAME" value="{{ role.name }}">
                            {{ fields.error(result, 'name') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">{{ 'label.privileges' | translate }}</div>
                    <div class="card-body">
                        <div class="form-group">
                            {% set counter = 0 %}
                            {% for privilege in privileges %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="privileges[{{ counter }}]" value="{{ privilege.id }}"
                                           class="custom-control-input" id="userPrivilege{{ privilege.id }}"
                                           {% if privilege.id in role.privilegesIds %}checked{% endif %}>
                                    <label class="custom-control-label"
                                           for="userPrivilege{{ privilege.id }}">{{ privilege.name }}</label>
                                </div>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bs-component">
                    <button type="submit" class="btn btn-primary">{{ 'label.save' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}