<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        {% include 'logo/logo.twig' %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="modules" aria-expanded="true">
                        {{ 'label.modules' | translate }} <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="modules">
                        {% for module in modules.getModules() %}
                        <a class="dropdown-item" href="{{ url(module.getPath()) }}">[{{ module.getName() }}]</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('/authority') }}">{{ 'title.authority' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('/users') }}">{{ 'title.users' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('/application') }}">{{ 'title.application' | translate }}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="languages"
                       aria-expanded="false">{{ 'label.languages' | translate }} <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="languages">
                        {% include 'languages/links.twig' %}
                    </div>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button onclick="window.location='{{ url('/auth/logout') }}'" class="btn btn-secondary my-2 my-sm-0" type="submit">
                    [{{ principal.name }}] {{ 'title.logout' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>