{% extends '../../shared/layout/main.twig' %}
{% import '../../shared/macro/fields.twig' as fields %}
{% block title %}{% if empty(user.id) %}{{ 'label.creation' | translate }}{% else %}{{ 'label.updating' | translate }} {{ user.username }}{% endif %}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{% if empty(user.id) %}{{ 'label.creation' | translate }}{% else %}{{ 'label.updating' | translate }} [{{ user.username }}]{% endif %}</h1>
    </div>
    <form method="post" action="{{ url('/users/process') }}{% if not empty(user.id) %}/{{ user.id }}{% endif %}">
        <div class="row">
            <div class="col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">{{ 'label.mainInformation' | translate }}</div>
                    <div class="card-body">
                        {% if user.new %}
                            <div class="form-group">
                                <label for="userName">{{ 'label.name' | translate }}</label>
                                <input name="username" type="text" class="form-control {{ fields.ifError(result, 'username', 'is-invalid') }}" id="userName"
                                       placeholder="username">
                                {{ fields.error(result, 'username') }}
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label for="userName">{{ 'label.name' | translate }}</label>
                                <input name="username" type="text" class="form-control" readonly id="userName"
                                       value="{{ user.username }}">
                                {{ fields.error(result, 'username') }}
                            </div>
                            <input type="hidden" name="id" value="{{ user.id }}">
                        {% endif %}
                        <div class="form-group">
                            <label for="userName">{{ 'label.password' | translate }}</label>
                            <input name="password" type="password" class="form-control" id="userPassword"
                                   placeholder="password">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="enabled" id="userEnable"
                                       {% if user.enabled %}checked{% endif %}>
                                <label class="custom-control-label" for="userEnable">{{ 'label.enabled' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">{{ 'label.roles' | translate }}</div>
                    <div class="card-body">
                        <div class="form-group">
                            {% if user.old %}
                                {% set counter = 0 %}
                                {% for role in roles %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="roles[{{ counter }}]" value="{{ role.id }}"
                                               class="custom-control-input" id="userRole{{ role.id }}"
                                               {% if role.id in user.rolesIds %}checked{% endif %}>
                                        <label class="custom-control-label"
                                               for="userRole{{ role.id }}">{{ role.name }}</label>
                                    </div>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                            {% else %}
                                <div class="card border-dark mb-3">
                                    <div class="card-body">
                                        <p class="card-text">{{ 'text.newUserRoles' | translate }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bs-component">
                    <button type="submit" class="btn btn-primary">{{ 'label.save' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}