<div class="btn-group btn-group-sm" role="group">
    <button onclick="location.href='{{ url('/mdbv/sources') }}'" type="button" class="btn btn-secondary">{{ 'label.source' | translate }}</button>
    <button onclick="location.href='{{ url('/mdbv/rows') }}'" type="button" class="btn btn-secondary">{{ 'label.rows' | translate }}</button>
    <button onclick="location.href='{{ url('/mdbv/records') }}'" type="button" class="btn btn-sm btn-success">{{ 'label.records' | translate }}</button>
</div>