{% macro pagination(total, limit, current, prefix, max, size) %}
    {% if limit == 0 or total == 0 %}
        {% set count = 1 %}
    {% else %}
        {% set count = round(total / limit, 'CEIL') %}
    {% endif %}
    {% set pages = [1..count] %}
    {% if count > 1 %}
        {% if count > max %}
            {% set pages = slice(pages, current - size - 1, size + size + 1) %}
        {% endif %}
        {% if current > size %}
        <button onclick="location.href='{{ prefix ~ 1 }}'" type="button"
                class="btn btn-secondary btn-sm">{{ 'label.first_female' | translate | lower }}</button>
        {% endif %}
        <div class="btn-group btn-group-sm" role="group">
            {% for page in pages %}
                {% set link = prefix ~ page %}
                <button onclick="location.href='{{ link }}'" type="button"
                        class="btn btn-secondary {% if current == page %}active{% endif %}">{{ page }}</button>
            {% endfor %}
        </div>
        {% if (count - size) > current and count > max %}
        <button onclick="location.href='{{ prefix ~ count }}'" type="button"
                class="btn btn-secondary btn-sm">{{ 'label.last_female' | translate | lower }}</button>
        {% endif %}
    {% else %}
        <p class="text-primary">{{ 'text.noPagi' | translate }}</p>
    {% endif %}
{% endmacro %}