{% extends '../../shared/layout/main.twig' %}
{% import '../../shared/macro/fields.twig' as fields %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'title.authority' | translate }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-light mb-3">
                <div class="card-header">{{ 'label.roles' | translate }}</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="min-vh-100">ID</th>
                            <th scope="col">{{ 'label.name' | translate }}</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            {% set edit = url('/authority/role/edit/' ~ role.id) %}
                            {% set remove = url('/authority/role/remove/' ~ role.id) %}
                            <tr>
                                <td>{{ role.id }}</td>
                                <td>{{ role.name }}</td>
                                <td>
                                    <button type="button" onclick="location.href='{{ edit }}'"
                                            class="btn btn-sm btn-primary">{{ 'label.edit' | translate }}</button>
                                    <button type="button" onclick="confirm('{{ 'text.areYouSure' | translate }}') ? location.href='{{ remove }}' : false"
                                            class="btn btn-sm btn-danger">{{ 'label.remove' | translate }}</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <form method="post" action="{{ url('/authority/process/role') }}" class="form-inline my-2 my-lg-0 float-right">
                        <input class="form-control mr-sm-2 form-control-sm" type="text" name="name" placeholder="ROLE_NAME">
                        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">{{ 'label.create' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-light mb-3">
                <div class="card-header">{{ 'label.privileges' | translate }}</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="min-vh-100">ID</th>
                            <th scope="col">{{ 'label.name' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for privilege in privileges %}
                            {% set remove = url('/authority/privilege/remove/' ~ privilege.id) %}
                            <tr>
                                <td>{{ privilege.id }}</td>
                                <td>
                                    {% if privilege.id == id %}
                                        {% set errorClass = fields.ifError(result, 'name', 'is-invalid') %}
                                    {% else %}
                                        {% set errorClass = null %}
                                    {% endif %}
                                    <form id="privilegeForm{{ privilege.id }}" method="post" action="{{ url('/authority/process/privilege/' ~ privilege.id) }}" class="form-inline">
                                        <input class="form-control form-control-sm {{ errorClass }}" type="text" name="name" value="{{ privilege.name }}">
                                    </form>
                                </td>
                                <td>
                                    <button type="button" onclick="document.forms['privilegeForm{{ privilege.id }}'].submit()"
                                            class="btn btn-sm btn-info">{{ 'label.update' | translate }}</button>
                                    <button type="button" onclick="confirm('Are you sure?') ? location.href='{{ remove }}' : false"
                                            class="btn btn-sm btn-danger">{{ 'label.remove' | translate }}</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {% if empty(id) %}
                        {% set errorClass = fields.ifError(result, 'name', 'is-invalid') %}
                    {% endif %}
                    <form method="post" action="{{ url('/authority/process/privilege') }}" class="form-inline my-2 my-lg-0 float-right">
                        <input class="form-control mr-sm-2 form-control-sm {{ errorClass }}" type="text" name="name" placeholder="PRIVILEGE_NAME">
                        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">{{ 'label.create' | translate }}</button>
                    </form>
                    <div class="float-left">
                        {{ fields.error(result, 'name') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}