{% extends '../layout-link.twig' %}
{% import '../../../shared/macro/pagination.twig' as pagination %}
{% block title %}{{ 'title.posts' | translate }}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'title.posts' | translate }} [{{ domain.name }}]</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-light mb-3">
                {% include '../partials/posts-header-buttons.twig' %}
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'label.name' | translate }}</th>
                            <th scope="col" class="d-none d-md-table-cell">{{ 'label.category' | translate }}</th>
                            <th scope="col" class="d-none d-md-table-cell">{{ 'title.status' | translate }}</th>
                            <th scope="col" class="w-25"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in result.result %}
                            {% set edit = url('/blog/posts/edit/' ~ post.id) %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td class="d-none d-md-table-cell">{{ post.category.name }}</td>
                                <td class="d-none d-md-table-cell">
                                    {% if post.enabled %}
                                        <span class="badge badge-pill badge-success">{{ 'label.enabled' | translate }}</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-danger">{{ 'label.disabled' | translate }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-lg-right">
                                    <button type="button" onclick="location.href='{{ edit }}'"
                                            class="btn btn-sm btn-primary">{{ 'label.edit' | translate }}</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {{ pagination.pagination(result.total, result.limit, result.current, '/blog/posts?page=') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}