{% extends '../../shared/layout/main.twig' %}
{% block title %}{{ 'title.setting' | translate }}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{{ 'title.setting' | translate }}</h1>
    </div>
    {% include 'partials/buttons.twig' %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-header">{{ 'label.languages' | translate }}</div>
                <div class="card-body">
                    <div class="list-group">
                    {% set locale = languages.currentLocale.getCode() %}
                    {% for item in languages.locales %}
                        <a class="list-group-item list-group-item-action {% if locale == item.code %}active{% endif %}" href="{{ uri }}?locale={{ item.getCode() }}">
                            <img class="lang-icon" src="{{ asset('icons/flags/' ~ lower(item.country.code) ~ '.svg') }}">&nbsp;{{ item.language.getName() }} ({{ item.language.getLocal() }})
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-header">{{ 'label.theme' | translate }} <b>({{ theme('name') }})</b></div>
                <div class="card-body">
                    {% set currentTheme = themeName() %}
                    <div class="list-group">
                        {% for theme in themes.getThemes() %}
                            <a class="list-group-item list-group-item-action {% if currentTheme == theme.getName() %}active{% endif %}"
                               href="{{ uri }}?theme={{ theme.getName() }}">{{ theme.label }}</a>
                        {% endfor %}
                    </div>
                    <p class="text-muted">{{ 'text.bootswatchThanks' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}