<div class="card-header">
    <div class="btn-group btn-group-sm" role="group">
        <button onclick="location.href='{{ url('/blog/posts/create') }}'" type="button" class="btn btn-primary">{{ 'label.create' | translate }}</button>
        <button onclick="location.href='{{ url('/blog/categories') }}'" type="button" class="btn btn-primary">{{ 'label.categories' | translate }}</button>
        <button onclick="location.href='{{ url('/blog/posts') }}'" type="button" class="btn btn-primary">{{ 'title.posts' | translate }}</button>
        <button onclick="location.href='{{ url('/blog/setting/domains') }}'" type="button" class="btn btn-secondary">{{ 'label.settings' | translate }}</button>
    </div>
</div>