{% extends '../layout-link.twig' %}
{% import '../../../shared/macro/fields.twig' as fields %}
{% block title %}{% if empty(entity.title) %}{{ 'label.creation' | translate }}{% else %}{{ 'label.updating' | translate }} {{ entity.title }}{% endif %}{% endblock %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">{% if empty(entity.title) %}{{ 'label.creation' | translate }}{% else %}{{ 'label.updating' | translate }}: {{ entity.title }}{% endif %}</h1>
    </div>
    <form method="post" action="{{ url('/blog/posts/process') }}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-light mb-3">
                    {% include '../partials/posts-header-buttons.twig' %}
                    <div class="card-body">
                        <div class="form-group">
                            <h4>{{ 'label.domain' | translate }}: <b>{{ domain.name }}</b></h4>
                            <input type="hidden" name="domain_id" value="{{ domain.id }}">
                        </div>
                        <div class="form-group">
                            <label for="postName">{{ 'label.title' | translate }}</label>
                            <input name="title" type="text" class="form-control {{ fields.ifError(result, 'title', 'is-invalid') }}" id="postName"
                                   placeholder="{{ 'label.title' | translate | lower }}..." value="{{ entity.title }}">
                            {{ fields.error(result, 'title') }}
                        </div>
                        <div class="form-group">
                            <label for="postCategories">{{ 'label.category' | translate }}</label>
                            <select class="form-control" id="postCategories" name="categoryId">
                                {% for category in categories %}
                                    <option {% if category.id == entity.category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            {{ fields.error(result, 'category') }}
                            <input type="hidden" name="id" value="{{ entity.id }}">
                        </div>
                        <div class="form-group">
                            <label for="postBody">{{ 'label.body' | translate }}</label>
                            <textarea class="editor" name="body" id="postBody">{{ entity.body }}</textarea>
                            {{ fields.error(result, 'body') }}
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="enabled" id="postEnable"
                                       {% if entity.enabled %}checked{% endif %}>
                                <label class="custom-control-label" for="postEnable">{{ 'label.enabled' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{{ 'label.save' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}